*{
    background-color: black;
}

.mem-grid{
    display: flex;    
    flex-wrap: wrap;
    height:675px;
    width:900px;
    margin:auto;
    
}
h3{
    color: white;
}
.wh-grid{
    display: flex;    
    flex-wrap: wrap;
    height:606px;
    width:606px;
    margin:auto;
}
.sq{
    width: 200px;
    height:200px;
    background-color: wheat;
    margin:1px;
    
}
.mole{
    background-image: url('whack-amole/acorn.png');
    background-size: cover;

}

.sp-grid{
    display: grid;
    grid-template-columns: repeat(15, 30px [col-start]);
   /* row-gap: 0.2vw;
    column-gap: 0.2vw;*/
    
    margin-left:25%;
}
.normal-grid{
    width: 30px;
    height: 30px;
    background-color: antiquewhite;

}
.invader{
    background-color: red;
    
}
.shooter{
    background-color: blue;
}
.laser{
    background-color: black;
}